/*///////////////////////
	 Le Responsive
///////////////////////*/

@media only screen and (max-width:1280px){
#menu dl{
	min-width:210px;
}

.geometre {
	width: 250px;
  	height: 208px;
  	background-size: cover;
  	position: relative;
  	margin: -140px 20px 0px 20px;
  	border: 3px solid green;
}

h1{
	width: 248px;
	height: 206px;
	font-size: 23px;
	margin-top:-2px;
	font-weight: lighter;
	line-height: 20px;
	padding-top:85px;

}

.texte2{
	width: 60%;
	float:left;
	margin-right: 20px;
	padding: 5px 10px;
	border: 1px dotted grey;
	margin-top:90px;
}

.picture2 {
	float:left;
	width: 40%;
	margin:0 auto;
	border: 3px solid green;
	background-image: url(../images/oeuvre/maitrise-oeuvre.jpg);
	width: 450px;
	height: 338px;
	padding:0px;
}
}
@media only screen and (max-width:1200px){

.geometre {
	width: 200px;
  	height: 167px;
  	background-size: cover;
  	position: relative;
  	margin: -110px 30px 0px 30px;
  	border: 3px solid green;
}

h1{
	width: 198px;
	height: 165px;
	font-size: 23px;
	margin-top:-2px;
	font-weight: lighter;
	line-height: 20px;
	color: white;
	letter-spacing: 2px;
	padding-top:70px;
	text-align: center;
	text-transform: uppercase;
	background-color: none;	
}

}


@media only screen and (max-width:1080px){


.site-container{
	overflow: scroll;
	height: 100%;
	padding-top:0;
	bottom:0;
	right:0;
	left:0; 

}
.site-pusher{
	transform: translateX(0px);
	transition-duration: 0.3s;
	height: 100%;
}
.menu__icon{
	position: absolute;
	z-index: 1000;
	margin-left:0px;
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	background-color: #58585a;;
	cursor: pointer;
}
.menu__icon::after{
	content:'';
	position: absolute;
	display: block;
	width: 20px;
	height: 0;
	top:10px;
	left:15px;
	box-shadow:0px 10px 0px 1px #fff, 0 16px 0 1px #FFF, 0 22px 0 1px #fff;
}
#conteneur-menu{
	float: none;
	height: 300px;
	position: static;
}
#menu{
	position: static;
	float: none;
	background-color: rgba(78,78,78,0.4);
	background-color:none;
	left: 0;
	bottom: 0;
		margin-left: -15px;
	width: 260px;
	height: 300px;
	transform: translateX(-260px);
}
#menu dl{
	float: none;
	position: static;


}
#menu dt{
	border-bottom:solid 1px slategrey;

}
#menu dd{
	z-index: 998;
	position:absolute;
	background-color: rgba(78,78,78,0.9);
	display:block;
	min-width: 260px;
	margin:-60px 0px 0px 260px;	
}
.carousel {
	margin-top:-300px;
}
#menu a{
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;

}
.with--sidebar .site-pusher{
		transform: translateX(240px);
}

.rectangle{
	display: 100%;
}
.geometre {
	width: 200px;
  	height: 167px;
  	background-size: cover;
  	position: relative;
  	margin: -130px 12px 0px 12px;
  	border: 3px solid green;
}
h1{
	width: 198px;
	height: 165px;
	font-size: 23px;
	margin-top:-2px;
	font-weight: lighter;
	line-height: 20px;
	color: white;
	letter-spacing: 2px;
	padding-top:70px;
	text-align: center;
	text-transform: uppercase;
	background-color: none;	
}
}
@media only screen and (max-width:940px){
.geometre {
	width: 150px;
  	height: 125px;
  	background-size: cover;
  	position: relative;
  	margin: -100px 15px 0px 35px;
  	border: 3px solid green;
}
h1{
	width: 148px;
	height: 123px;
	font-size: 18px;
	margin-top:-2px;
	font-weight: lighter;
	line-height: 20px;
	color: white;
	letter-spacing: 0px;
	padding-top:40px;
	text-align: center;
	text-transform: uppercase;
	background-color: none;	
}
}
@media only screen and (max-width:940px){

.geometre {
	width: 150px;
  	height: 125px;
  	background-size: cover;
  	position: relative;
  	margin: -100px 15px 0px 15px;
  	border: 3px solid green;
}
}
@media only screen and (max-width:770px){
.geometre {
	width: 150px;
  	height: 125px;
  	background-size: cover;
  	position: relative;
  	margin: -100px 10px 0px 10px;
  	border: 3px solid green;
}
}

@media only screen and (max-width:725px){
.rectangle{
	display: none;
}
}
@media only screen and (max-width:320px){

.rectangle{
	display: none;
}

#presentation {
	width: 100%;
	background: white;
  	padding: 0px 15px 1500px 15px;
  	margin: 0px auto;
	margin-top:-150px;
}

h1.presentation {
	width:100%;
	margin:0 auto;
	font-size: 30px;
	letter-spacing: 0px;
	line-height: 30px;
	font-weight: normal;
	color:black;
	text-align: center;
}
h1.oeuvres{
	width:100%;
	margin:0 auto;
	padding-top:-20px;
	font-size: 30px;
	letter-spacing: 0px;
	line-height: 30px;
	font-weight: normal;
	color:black;
	text-align: center;
}
.picture {
	margin:0 auto;
	margin-top: 80px;
	width: 100%;
	height: 287px;
	padding:0px;
	border: 3px solid green;
}
.texte {	
	width: 100%;
	margin:20px auto;
	padding: 0 auto;
}

.picture1{
	width: 100%;
	margin:0 auto;
	height: 302px;
	padding:0px 0px;
	border: 3px solid green;
}
.texte2{
	width: 100%;
	padding: 0 auto;
	margin:20px auto;
}

.oeuvre {
	width: 100%;
	background: #f2f2f2;
  	padding: -0px 15px 1100px 15px;
  	margin: 0px auto;
	
}
.picture2 {
	width: 100%;
	height: 338px;
	margin:0 auto;
	border: 3px solid green;
	padding:0px 0px;
}

#references {
	background-image: none;
	padding:0px 10px 250px 0px;
}
h3.hidden {
	width:90%;
	margin:0 auto;
	font-size: 30px;
	letter-spacing: 0px;
	visibility: visible;
	line-height: 30px;
	font-weight: normal;
	color:black;
	text-align: center;
}

.video {
	
	margin-top: 100px;
	width:300px;
	height: 180px;

}

.contact{
	float: none;
	width:90%;
	padding: 0px 10px 90px 10px;
	margin: 10px 10px;
	


}
.formulaire{
	float: none;
	width:100%;
}

input[type=text] , input[type=email], input[type=number] {
    width: 100%;
    padding: 8px 10px;
    margin: 0px 10px;
    box-sizing: border-box;
    position: relative;
    display: block;
}

textarea{
 	background-color:#F5F5F5;
	width: 280px;
	height:300px; 

}
.google{

	width:280px;
	height:320px;
}


}