body{
	margin:0;
	padding:0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Questrial', sans-serif;
    font-family: 'Didact Gothic', sans-serif;

	
}
.clear{
clear:both; 
}

a{
text-decoration:none;
color:white;
}
a:hover{
text-decoration:none;
color:white;
}
/*///////////////////////
	    Le Menu
///////////////////////*/



#conteneur-menu{
	overflow-y: visible ;
}
#menu{
	width: 100%;
	padding: 0;
	background-color: rgba(78,78,78,0.6);
	z-index: 1000;
	font-family: 'Raleway', sans-serif;
	font-size: 23px;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	position: fixed;	
}
#menu dl{
	float:left;
    height:60px;  
    margin:0 auto;
	min-width:267px;
	display:block;
}
#menu dt{
	display:block;
	height:60px;
	color:#58585a;
	line-height:32px;
	text-align:center;
	padding:15px 0px 0px 0px; 
	border-right:solid 1px slategrey;
}

#menu dt a{ 
    color:white;
	display:block;
	text-decoration:none;
	font-weight:lighter;
}
#menu dt a:hover{
	color:green;
	text-decoration:none;
	font-weight: lighter;
}

#menu dd{
	display:block;
	margin:0;
	padding:0;
	background-color: rgba(78,78,78,0.5);
	position: relative;
	font-size:24px;
}

#menu dd ul{
	margin:0;
	padding:0;
	text-align:center;
	list-style:none;
}

#menu dd ul li{
	display:block;
}

#menu dd ul li a{
	color:white;
	display:block;
	text-decoration:none;
	height:60px;
	padding-top:10px;
	line-height:30px;
	border-bottom:solid 1px slategrey;
}

#menu dd ul li a:hover{
	background-color: rgba(78,78,78,0.5);
}

#menu dl dd{
	display:none;	
}

#menu dl:hover dd{
	display:block;
}
/*///////////////////////
	    Fin Menu
///////////////////////*/


/*//////////////////////
		body
/////////////////////*/


h1{
font-size: 30px;
}
p{
	font-size: 20px;
}
.green {
    color: green;
}

/*//////////////////////
		Fin body
/////////////////////*/


/*///////////////////////
	 	Footer
///////////////////////*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#202021; min-height:350px; font-family: font-family 'Source Sans Pro', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: font-family 'Source Sans Pro', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:green; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#161616;}
 .copyright p { text-align:center; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}

/*////////////////
	FIN FOOTER
////////////////*/